# Google Drive API Bilgileri
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/callback

# Drive Folder ID
DRIVE_FOLDER_ID=19BkQeSWtc-KWMFVCurWb-VRZJUkbXWaQ

# Server
PORT=3000
NODE_ENV=development
